* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	background-color: lightgrey;
}

/* bootstrap container */
.container {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Helvetica, Arial, sans-serif;
	color: darkgrey;
}
/* list view */
#listContainer {
	float: left;
	background-color: black;
	height: 100%; 
	padding: 0;
	z-index: 100;
	min-width: 270px;
}

#listContainer h3 {
	font-size: 2.1em;
	color: white;
	margin-top: 7px;
	margin-bottom: 7px;
	margin-left: 10px;
}

#inputBox {
	border-radius: 1px;
	border: solid white 1px;
	width: 90%;
}

#locationList {
	padding: 0;
	float: left;
	width: 100%;
	/* set height to make the unorder list can be scrollable */
	height: 70%;
}

#listContainer ul {
	overflow: auto;
}

#locationList li{
	list-style: none;
	padding: 10px;
	font-size: 1.3em;
}

#locationList li:hover{
	color: white;
	background-color: #292d33;
	cursor: pointer;
}

#locationList li a{
	color: lightgrey;
	text-decoration: none;
}

#mapContainer {
	padding: 0;
	height: 100%;
	padding-bottom: 45px;
}

/* header */
#headbar {
	/* position: fixed; */
	background-color: #292d33;
	width: 100%;
	height: 45px;
}

#showListBtn{
	margin-top: 10px;
	margin-left: 5px;
	border: solid white 1px;
	border-radius: 2px;
}

/* map */
#map {
	height: 100%;
}

/* info window view */
#inforWindow {
	text-align: center;
}

#infoWindow img {
	margin-top: 10px;
	margin-bottom: 10px;
}

#infoWindow p {
	max-width: 300px;
	margin-top: 10px;
	color: #292d33;
	font-size: 1.1em;
}

#infoWindow a {
	text-decoration: underline;
}

/*
For mobile friendly and responsive concern, when screen size is 
some kind of phone size, hide the left side list view automatically, 
meantime change the map view's width to 100%
*/
@media screen and (max-width: 480px){
	#showListBtn {
		margin-left: 280px;
	}
	#listContainer {
		position: absolute;
	}
	#mapContainer {
		width: 100%;
	}
}
