* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	background-color: lightgrey;
}

.container {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Helvetica, Arial, sans-serif;
	color: darkgrey;
}

#listContainer {
	float: left;
	background-color: black;
	height: 100%; 
	padding: 0;
	z-index: 100;
}

#inputBox {
	/* border-radius: 2px; */
	border: solid white 1px;
	width: 70%;
}

#filterBtn {
	border: solid white 1px;
	padding: 1px;
	float: right;
	width: 30%;
}

#locationList {
	padding: 0;
	float: left;
	height: 70%;
}

ul {
	overflow: auto;
}

#locationList li{
	list-style: none;
	/* padding-left: 10px;
	padding-bottom: 5px; */
	padding: 10px;
	font-size: 1.3em;
	/* border: solid white 1px; */
}

#locationList li:hover{
	color: white;
	background-color: #292d33;
	cursor: pointer;
}

#locationList li a{
	color: lightgrey;
	text-decoration: none;
}

#mapContainer {
	padding: 0;
	height: 100%;
	padding-bottom: 45px;
}

#headbar {
	/* position: fixed; */
	background-color: #292d33;
	width: 100%;
	height: 45px;
}

#showListBtn{
	margin-top: 10px;
	margin-left: 5px;
	border: solid white 1px;
	border-radius: 2px;
	/* background-color: lightblue; */
	z-index: 1000;
}

#map {
	height: 100%;
	/* padding-top: 45px; */
}

/*
For mobile friendly and responsive concern, if screen size is phone size,
hide the left side list view automatically, meantime change 
the map view's width to 100%
*/
@media screen and (max-width: 480px){
	#showListBtn {
		margin-left: 280px;
	}

	#listContainer {
		position: absolute;
		visibility: hidden;
	}

	#mapContainer {
		width: 100%;
	}
}
