<!-- this page is where user write comment for a blog -->
{% extends 'base.html' %}
{% block comment %}
<div id="commentNow">
	<form method="post">
		<br>
		<textarea rows="10" name="comment_content">{{ comment.comment_content }}</textarea><br><br>
		<input class="btn btn-primary btn-xs" type="submit" value="Save">
		<a class="btn btn-danger btn-xs" href="/{{ blog.username }}/blog/{{ blog.key().id() }}">Cancel</a>
		<br>
		<span style="color: red;">{{ error }}</span>
	</form>
</div>
{% endblock %}